@font-face {
    font-family: "iconfont";
    /* Project id 2850014 */
    src: url('https://at.alicdn.com/t/font_2850014_ymqiszkixl8.woff2?t=1633486986494') format('woff2'), url('https://at.alicdn.com/t/font_2850014_ymqiszkixl8.woff?t=1633486986494') format('woff'), url('https://at.alicdn.com/t/font_2850014_ymqiszkixl8.ttf?t=1633486986494') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
    content: "\e626";
}